<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Classic Encryption</title>
  <link rel="icon" href="{% static 'images/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav>
    <h1 class="title" align="left">Classical Encryption Techniques</h1>

    <ul class="nav-links">
      <li><a href="">Home</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </nav>

  <main>
    <div class="centernav">
      <a href="affine">Affine Cipher</a>
      <a href="vigenere">Vigenère Cipher</a>
      <a href="monoalphabetic">Monoalphabetic Cipher</a>
      <a href="playfair">Playfair Cipher</a>
      <a href="hillcipher">Hill Cipher</a>
      <a href="extended_euclid">Extended Euclidean Algorithm</a>
    </div>
  </main>
</body>
</html>