body {
  background-image: url("../images/back.85afb8f3d463.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  /* Additional CSS properties to style your background image */
}

h1, h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.white-box {
  background-color: #000000;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid #000000;
  border-radius: 2rem;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.white-box2 {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid #000000;
  width: 850px;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.centernav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 500px;
  border: none;
}

.centernav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: none;
  transition: color 0.5s ;
}

.centernav a:hover {
  color: #dbdddf;
  text-decoration: none;
  position: relative;
  animation: underline-grow 0.5s ;
}

.centernav a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.centernav a:hover:after{
  width: 100%;
}
